.contents {
    text-align: center;
    background-color: rgba(13, 110, 253, 0.3);
    position: fixed;
    width: 100%;
    height: 120px;
}

.crmtest {
    max-width: 1300px;
    margin: 0 auto 20px;
}

.title {
    margin: 30px auto 50px;
    text-align: center;
}

.boxError {
    margin: 10px 0 15px;
    padding: 5px 20px;
    background: #ffeaf3;
    border: 2px solid #fb7070;
}

.boxError span {
    color: #ff4c4c;
    font-weight: bold;
}

.wrapper {
    margin-top: 60px;
}

.loginuser {
    width: 20%;
    margin: 15px auto;
}

.loginpw {
    width: 20%;
    margin: 15px auto;
}

.menu_holizon {
    margin-bottom: 50px;
    /* float: left; */
}

.cstlabel {
    float: left
}

.cstinput {
    float: left
}

.transitApp>.info {
    margin: 0 auto;
    width: 500px;
    float: left;
}

.infobox {
    background-color: linen;
    border: 2px solid #000;
    padding: 10px 15px;
}

.radio {
    vertical-align: middle;
    width: 30px;
}

.radiotext {
    vertical-align: middle;
    width: 50px;
    height: 30px;
}

.chkbox {
    vertical-align: middle;
    width: 20px;
}

.chkboxtext {
    vertical-align: middle;
    width: 50px;
    height: 30px;
}

.btn {
    width: 100%;
}

.btnlogin {
    width: 20%;
    margin: 15px auto;
}

.backtomain {
    width: 20%;
    float: left;
    margin: 0 30px;
}

.btncstsearch {
    width: 20%;
    float: left;
    margin: 0 30px;
}

.ui-helper-hidden-accessible {
    display: none;
}

button#btnSearch {
    width: 40%;
    margin: 0 auto;
}

button#btnBack {
    width: 40%;
    margin: 0 auto;
}

.check:not(:checked) {
    background-color: #fff !important;
}

/* footer {
    margin: 2em auto 0 auto;
    padding: 20px 0;
    background-color: #2e2e2e;
    color: #999;
} */